# Copy this file to server/.env and fill in your values
MONGODB_URI=mongodb+srv://MpCcoUvWhUldaiNU:<Dstar@1007>@cluster0.xxxxx.mongodb.net/dailyreports
PORT=3001
mongodb+srv://<db_username>:<db_password>@daillyreports.kv9gqg1.mongodb.net/